@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding: 20px;
}

.overlay {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}



/* #0089BF */
.sidebar {
  position: fixed;
  left: 0; top: 0;
  width: 250px;
  height: 100vh;
  background-color:#072A40 ; 
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sidebar img {
  width: 100%;
  margin-bottom: 40px;
}

.sidebar .menu {
  /* border: 1px solid red; */
}

.sidebar .btn-sidebar {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 10px;
}
.sidebar .btn-sidebar:hover {
  color: #0089BF;
}


/* ========= INFLATABLES PAGE ========= */
.inflatables {
  display: grid;
  grid-template-columns: 250px auto;
}
.inflatables .top-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.inflatables .top-nav h2 {
  color: #072A40;
}
.inflatables .top-nav button {
  padding: 0 15px;
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #0089BF;
}
.inflatables .top-nav button:hover {
  background-color: white;
  color: #0089BF;
  border: 1px solid #0089BF;
}

.inflatables .row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  height: 150px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: 0.5s;
}
.inflatables .row:hover {
  border: 1px solid #0089BF;
}
.inflatables .row .img-container {
  display: flex;
  align-items: center;
}
.inflatables .row img {
  height: 130px;
  width: 130px;
  object-fit:contain;
}
.inflatables .row .details-container {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.inflatables .row #name-price{
  display: flex;
  justify-content: space-between;
}
.inflatables .row #name {
  font-weight: 600;
}
.inflatables .row #price {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  color: white;
  border-radius: 2px;
  background-color: #0089BF;
  width: 100px;
}
.inflatables .row #dimentions {
  display: flex;
  justify-content: space-between;
}
.inflatables .row #dimentions .dimention {
  display: flex;
  gap: 5px;
  color: gray;
}

.popup-newInflatable {
  position: fixed;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  padding: 20px 5%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.popup-newInflatable h2 {
  font-weight: 500;
  color: #072A40;
}
.popup-newInflatable form {
  width: 100%;
}
.popup-newInflatable form input,
.popup-newInflatable form select{
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.popup-newInflatable form select{
  color: gray;
}
.popup-newInflatable form textarea {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  resize: none;
  outline: none;
}
.popup-newInflatable form button {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
  background-color: #0089BF;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 20px;
  transition: 0.5s;
}
.popup-newInflatable form button:hover {
  background-color: white;
  color: #0089BF;
  border: 1px solid #0089BF;
} 
.popup-newInflatable .cols {
  display: flex;
  gap: 5px;
}



